<div id="sighting_submission">
  <div id="sighting_submission_error">Can we get your location?</div>
  <script>
    htmx.logger = function (elt, event, data) {
      if (console) {
        console.log("INFO:", event, elt, data);
      }
    }
    htmx.logAll();

    function locationError(err) {
      console.log(err);
      htmx.find('#submitLocation').setAttribute('disabled', true);
      htmx.find('#submitLocation').innerHTML = 'Location denied';
    }

    function locationSuccess(event, position) {
      var positionInfo = {
        latitude: position.coords.latitude,
        longitude: position.coords.longitude,
        accuracy: position.coords.accuracy,
        timestamp: position.timestamp
      }
      console.log(positionInfo);
      htmx.find('#latitude').setAttribute('value', position.coords.latitude);
      htmx.find('#longitude').setAttribute('value', position.coords.longitude);
      htmx.find('#accuracy').setAttribute('value', position.coords.accuracy);
      htmx.find('#timestamp').setAttribute('value', position.timestamp);
      event.detail.issueRequest();
    }

    function confirmLocation(event) {
      event.preventDefault();
      navigator.geolocation.getCurrentPosition(function (position) {
        locationSuccess(event, position);
      }, locationError);
    }

  </script>
  <form id='location' hx-post='/api/location-submit?submissionId={{submissionId}}'>
    <input id='latitude' name='latitude' type='hidden'>
    <input id='longitude' name='longitude' type='hidden'>
    <input id='accuracy' name='accuracy' type='hidden'>
    <input id='timestamp' name='timestamp' type='hidden'>
    <button id='submitLocation' hx-on:htmx:confirm="confirmLocation(event);">
      Submit my location
    </button>
    <button>
      Submit without a location.
    </button>
  </form>
</div>