<div id="sighting_submission" hx-get="/api/submission-status?submissionId={{submissionId}}" hx-trigger="every 2s">
  <div id="sighting_submission_id">{{submissionId}}</div>
    Image saved... rechecking status every 2s...
  <div id="sighting_submission_status">Current status: {{submissionStatus}}</div>
</div>