<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Vanilla JavaScript App</title>
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
  </head>

  <body>
    <main>
      <h1>Vanilla JavaScript App</h1>
      <p>Posting content to the API: <b id="postdata"></b></b></p>
      <!-- have a button POST a click via AJAX -->
      <button hx-post="/api/fileupload" hx-swap="outerHTML">
        Click Me to load content from the API!
      </button>

      <form id='form' hx-encoding='multipart/form-data' hx-post='/api/fileupload'>
        <input type='file' name='file'>
        <button>
            Upload
        </button>
        <progress id='progress' value='0' max='100'></progress>
      </form>
      <script>
        htmx.on('#form', 'htmx:xhr:progress', function(evt) {
          htmx.find('#progress').setAttribute('value', evt.detail.loaded/evt.detail.total * 100)
        });
      </script>
    </main>
  </body>

  <script>
    (async function () {
      let response = await fetch(`api/message`);
      let message = await response.json();

      document.querySelector("#message").innerHTML = message.text
    })();
  </script>

<script>
  (async function () {
    let response = await fetch("api/fileupload", {
      method: "POST",
      body: "This is a POST body."
    });
    let message = await response.json();

    document.querySelector("#postdata").innerHTML = message.text
  })();
</script>
</html>
